.splash{
    .tl-rb{
        clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 81%);
        background-color: rgba(237,144,177,0.3);
        .content{
            float: right;
        }
        &.second-section{
            .content-panel{
                text-align: left;
            }
        }
        
    }
    .lb-tr{
        clip-path: polygon(0% 20%, 0% 100%, 100% 80%, 100% 0%);
        background-color: rgba(237,144,177,0.1);
    }
    &-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30vh;
        grid-gap: 100px;
        align-items: center;
        width: 100vw;
        margin-top: -100px;
        padding: 200px 10%;
        align-content: center;
        background-color: rgba(237,144,177,0.2);
    }
    &-splash{
        min-height: 80vh;
        .image-panel{
            display: grid;
            align-items: center;
            height: 50vh;
            background-image: url('../../images/splash_bg.svg');
            svg{
                height: auto 100% ;
                .circle{
                    /* transform-box: fill-box;
                    transform-origin: center; */
                    /*  */
                    animation-duration: 5s;
                    animation-timing-function:ease-in-out ;
                    animation-fill-mode: backwards;
                }
                .char_left{
                    transform-origin: 50% 45%;
                    animation-name: left-zoomIn;
                    animation-duration: 5s;
                    animation-timing-function:ease-in-out ;
                    animation-fill-mode: backwards;
                    
                }
            }
            /* 
            background-image: url('../../images/spslas-splash_bg.svg');
            background-position: center; */
        }
    }
    &-two{
        .image-panel{
            height: 50vh;
            background-image: url('../../images/splash-second_having-fun.svg');
        }
    }
    &-three{
        .image-panel{
            height: 50vh;
            background-image: url('../../images/online-friends.svg');
        }
    }
    &-cta{
        display:grid;
        padding: 200px 20%;
        margin-top: -100px;
        text-align: center;
        svg{
            height: 40vmin;
            margin-bottom: 20px;
            .circles{
                circle{
                    /* animation-name: cta-svg-circle;
                    animation-duration: 3s; */
                }
            }
        }
        .content{
            width: 100% !important;
            padding: 0px 10vw;
        }
    }
    .image-panel{
        background-size:  80% auto;
        background-repeat: no-repeat;
        background-position: center ;
    }
    .content-panel{
        display: grid;
        align-items: center;
        .content{
            width: 80%;
            margin: 40px 0px;
            text-align: center;
            .heading{
                margin-bottom: 10px;
            }
            .list{
                margin-top: 20px;
            }
        }
    }
}



@media screen and (max-width: 425px) {
    .splash-grid{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 50vmin 50vh;
        grid-gap: 0px;
        width: 100vw;
        margin-top: -100px;
        padding: 10px 10%;
    }
    .image-panel{
        display: grid;
        align-items: center;
        height: 50vmin  !important;
        background-image: url('../../images/splash_bg.svg');
    }
}



@keyframes circle-rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(310deg);
    }
}
@keyframes cta-svg-circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(310deg);
    }
}
/* @keyframes left-zoomIn{
    0%{
        transform: rotate(-50deg);
    }
    100%{
        transform: rotate(310deg);
    }
} */