$color-primary: rgba(245, 0, 87,1);
.header{
    position: fixed;
    top: 0px;;
    display: grid;
    height: 100px;
    width: 100vw;
    grid-template-columns: 300px auto 200px;
    grid-template-rows: 100px;
    padding: 0px 50px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 99;
    .home-button{
        display: grid;
        align-items: center;
        svg{
            width: 300px
        }
    }
    .panel{
        display: grid;
        align-content: center;
        justify-content: right;
        .hamburger{
            height: 40px;
            width: 40px;
            &.hide{
                .menu-block{
                    transform: translateX(0%);
                    opacity: 0;
                    background-color: rgba(0, 0, 0, 0.4);
                    transition-duration: 0.1s;
                    transition-delay: 0.1s;
                }
                .hamburger-menu{
                    transform: translateX(100%);
                    transition-duration: 0.2s;
                    opacity: 0.8;
                    .open{
                        display: none;
                    }
                }
                .close{
                    display: none;
                }
            }
            &-icon{
                display: grid;
                align-content: center;
                justify-content: right;
                height: 100%;
                z-index: 101;
                svg{
                    height: 40px;
                    width: 40px;
                    fill: #f52d56
                }
            }
            &-menu{
                position: fixed;
                top: 0px;
                right: 0px;
                height: 100vh;
                padding: 20px 30px;
                background-color: $color-primary;
                color: white;
                z-index: 100;
                transition-duration: 0.2s;
                
                svg.close {
                    float: right;
                    margin-right: 10px;
                    height: 25px;
                    width: 25px;
                    fill: #ffffff
                }
                ul{
                    margin: 0;
                    margin-top: 60px;
                    list-style-type: none;
                    li{
                        display: block;
                        padding:10px;
                    }
                }
            }
            .menu-block{
                position: fixed;
                top:0px;
                left:0px;
                content:'';
                width: 100vw;
                height:100vh;
                background-color: rgba(0, 0, 0, 0.8);
                transition-duration: 0.2s;
                transition-delay: 0.1s;
                opacity: 1;
            }
        }
    }
}